In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima.model import ARIMA

data = pd.read_csv('./data/data_old.csv')
data = data.set_index('CH_TIMESTAMP')
data.index = pd.to_datetime(data.index)
data = data.sort_index()
data['CH_CLOSING'] = data['CH_CLOSING_PRICE']

train = data['CH_CLOSING'].iloc[:-100]
test = data['CH_CLOSING'].iloc[-100:]

model = ARIMA(train, order=(2, 0, 2))

model_fit = model.fit()

predict = model_fit.predict(len(train), len(train)+len(test)-1, typ='levels')

c:\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:471: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
c:\Python310\lib\site-packages\statsmodels\tsa\base\tsa_model.py:834: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(

In [5]:
predict

3536    1080.501018
3537    1080.031547
3538    1079.600525
3539    1079.165707
3540    1078.732599
           ...
3631    1043.483324
3632    1043.138410
3633    1042.794350
3634    1042.451141
3635    1042.108781
Name: predicted_mean, Length: 100, dtype: float64

In [6]:
train

CH_TIMESTAMP
2002-01-01     225.05
2002-01-02     225.00
2002-01-03     226.25
2002-01-04     223.95
2002-01-07     223.95
               ...
2015-11-02    1083.10
2015-11-03    1084.90
2015-11-04    1081.70
2015-11-05    1079.85
2015-11-06    1080.90
Name: CH_CLOSING, Length: 3536, dtype: float64

In [7]:
test

CH_TIMESTAMP
2015-11-09    1064.80
2015-11-10    1054.60
2015-11-11    1054.40
2015-11-13    1052.05
2015-11-16    1060.95
               ...
2016-03-28    1047.50
2016-03-28    1047.50
2016-03-29    1053.80
2016-03-30    1064.95
2016-03-31    1071.15
Name: CH_CLOSING, Length: 100, dtype: float64

In [8]:
model

In [9]:
model_fit

In [11]:
data

,_id,CH_SYMBOL,CH_SERIES,CH_MARKET_TYPE,CH_TRADE_HIGH_PRICE,CH_TRADE_LOW_PRICE,CH_OPENING_PRICE,CH_CLOSING_PRICE,CH_LAST_TRADED_PRICE,CH_PREVIOUS_CLS_PRICE,...,CH_ISIN,TIMESTAMP,createdAt,updatedAt,__v,SLBMH_TOT_VAL,VWAP,mTIMESTAMP,CA,CH_CLOSING
CH_TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2002-01-01,641f31b44708d50007274d25,HDFCBANK,EQ,N,230.00,222.75,228.00,225.05,226.00,225.60,...,NaN,2001-12-31T18:30:00.000Z,2023-03-25T17:39:00.692Z,2023-03-25T17:39:00.692Z,0,NaN,225.02,01-Jan-2002,NaN,225.05
2002-01-02,641f32744438f60007b7ce4d,HDFCBANK,EQ,N,225.75,223.00,224.00,225.00,225.00,225.05,...,NaN,2002-01-01T18:30:00.000Z,2023-03-25T17:42:12.909Z,2023-03-25T17:42:12.909Z,0,NaN,224.53,02-Jan-2002,NaN,225.00
2002-01-03,641f3270adde0b0007d23e28,HDFCBANK,EQ,N,227.95,222.20,225.00,226.25,227.75,225.00,...,NaN,2002-01-02T18:30:00.000Z,2023-03-25T17:42:08.208Z,2023-03-25T17:42:08.208Z,0,NaN,224.70,03-Jan-2002,NaN,226.25
2002-01-04,641f326a341dfa0007d37446,HDFCBANK,EQ,N,228.00,223.50,225.00,223.95,223.75,226.25,...,NaN,2002-01-03T18:30:00.000Z,2023-03-25T17:42:02.801Z,2023-03-25T17:42:02.801Z,0,NaN,224.49,04-Jan-2002,NaN,223.95
2002-01-07,641f31364708d500072748bd,HDFCBANK,EQ,N,226.35,221.55,224.00,223.95,224.15,223.95,...,NaN,2002-01-06T18:30:00.000Z,2023-03-25T17:36:54.390Z,2023-03-25T17:36:54.390Z,0,NaN,223.79,07-Jan-2002,NaN,223.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-03-28,641ebc1f4438f60007b5a3a4,HDFCBANK,EQ,N,1053.00,1041.65,1045.00,1047.50,1052.30,1049.35,...,INE040A01026,2016-03-27T18:30:00.000Z,2023-03-25T09:17:19.098Z,2023-03-25T09:17:19.098Z,0,NaN,1048.62,28-Mar-2016,NaN,1047.50
2016-03-28,641ebc1f4438f60007b5a3a4,HDFCBANK,EQ,N,1053.00,1041.65,1045.00,1047.50,1052.30,1049.35,...,INE040A01026,2016-03-27T18:30:00.000Z,2023-03-25T09:17:19.098Z,2023-03-25T09:17:19.098Z,0,NaN,1048.62,28-Mar-2016,NaN,1047.50
2016-03-29,641ebc2931da23000791a595,HDFCBANK,EQ,N,1059.50,1044.25,1047.50,1053.80,1053.00,1047.50,...,INE040A01026,2016-03-28T18:30:00.000Z,2023-03-25T09:17:29.178Z,2023-03-25T09:17:29.178Z,0,NaN,1054.95,29-Mar-2016,NaN,1053.80
2016-03-30,641ebc33a077ee000756e4ac,HDFCBANK,EQ,N,1069.90,1053.90,1058.00,1064.95,1066.30,1053.80,...,INE040A01026,2016-03-29T18:30:00.000Z,2023-03-25T09:17:39.302Z,2023-03-25T09:17:39.302Z,0,NaN,1063.19,30-Mar-2016,NaN,1064.95
2016-03-31,641ebc3d4438f60007b5ab5a,HDFCBANK,EQ,N,1078.90,1065.05,1066.85,1071.15,1071.80,1064.95,...,INE040A01026,2016-03-30T18:30:00.000Z,2023-03-25T09:17:49.415Z,2023-03-25T09:17:49.415Z,0,NaN,1072.96,31-Mar-2016,NaN,1071.15